@import '~src/assets/sass/variables';
@import '~src/assets/sass/mixins';
textarea{
    min-height: 100px;
}
.btn-add{
    padding: .25rem 1.5rem;
    border-radius: 20px;
    vertical-align: middle;
    @include btn_header(#f26633, #fff);
}