<div class="modal-header">
  <h4 class="modal-title">Add Service</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss(serviceForm)"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pb-4">
  <form [formGroup]="serviceForm">
    <div class="form-group">
      <label>Service Name*</label>
      <input
        type="text"
        class="form-control"
        placeholder="Service Name*"
        formControlName="name"
      />
      <small class="text-danger form-text" *ngIf="isCreated"
        >Venue Location already created</small
      >
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea
        type="text"
        class="form-control textarea"
        placeholder="Description"
        cols="10"
        rows="10"
        formControlName="description"
      ></textarea>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label>Cost</label>
          <input
            type="text"
            class="form-control"
            placeholder="Cost"
            formControlName="cost"
          />
        </div>
        <div class="col-md-6">
          <label>Quantity Available</label>
          <input
            type="text"
            class="form-control"
            placeholder="Quantity Available"
            formControlName="quantityAvailable"
          />
        </div>
      </div>
    </div>
    <!-- <div class="form-group"> -->

    <!-- </div> -->
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label>Lead Time (In days)</label>
          <ng-select [items]="daysList" placeholder="Days" [clearable]="false"  formControlName="day">
          </ng-select>
        </div>
        <div class="col-md-3">
          <label>Lead Time (In hours)</label>
          <ng-select
            [items]="hoursList"
            placeholder="Hours"
            [clearable]="false"
            formControlName="hour"
          >
          </ng-select>
        </div>
        <div class="col-md-6">
          <label>Delivery</label>
          <ng-select
            [items]="deliveryList"
            placeholder=" Delivery"
            formControlName="delivery"
            [clearable]="false"
          >
          </ng-select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label>Prerequirement</label>
          <input
            type="text"
            class="form-control"
            placeholder="Prerequirement"
            formControlName="preRequirement"
          />
        </div>
     
      <div class="col-md-6">
        <label>Prepayment required</label>
        <ng-select
          [items]="List"
          placeholder="Prepayment required"
          formControlName="prepayment"
          [clearable]="false"
         
        >
        </ng-select>
      </div>
    </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-add"
        [disabled]="serviceForm.invalid || isCreated"
        (click)="saveService()"
      >
        {{ value }}
      </button>
    </div>
  </form>
</div>
