<div class="container">
  <div class="row">
    <div class="col-mf-6 text-center">
       <img oncontextmenu="return false"  src="assets/images/artist1.png" alt="artistimage" class="img-fluid mt-5 rounded-circle" width="500" height="500">
    </div> 
    <div class="col-md-6 pl-5">
     <h3 class="text-uppercase text-left aboutheading mt-5 text-justify">about us</h3>
     <p class="text-bold about-text mt-3"> we realize the all challenges faced by the artists and event
       organizers in connecting the audience and sponsors is first to conseptulize from 
       the insights gained from deserving the talented artists and evenet organizers across 
       different art forms 

       
        </p>
        <p class="text-justify about-text text-lead">
          duing the process zeta also recognized that most historical and traditional
          art forms slowly with the limited opportunities for the performers zeter is strived
          towards and costantly work to revive the traditional art forms and their traditional
          through zetar connect
            </p>
            <p class="text-justify about-text text-lead">
              zetar provides a self-driven digital platform empowering performers across all
              geners to reach the organizers and audience in different geopraphaies for extend
              reach
                </p>
                <p class="text-justify about-text text-lead">through the zetar we facilitate
                  a world of opportunities and event organizers and event-services to conceptulize.create and host events through zeatr connects
                    </p>
                    <p class="text-justify about-text text-lead">we hand pick the events hosted across the globe</p>
        <div class="yellowbg about-text text-lead">
          <h3 class="text-lead text-left mt-5 yellow-heading">vision</h3>
          <p class="yellow-text"> zetar drives on holistic approach,connecting to the audience
            for endless perfoemance
          </p>
        </div>
        <p class="mt-3 lead-text">zetar is brand owned by zeeko sdn bhd</p>
    </div>
  </div>
</div>

