.aboutheading{
    font-size: 2.5rem;
    font-weight: 700;
    
}
.text-bold{
    font-weight: 600;
}
.about-text{
    font-size: 20px;
    text-align: justify;
}
.yellowbg{
    background-color: rgb(216, 202, 8);
    widows: 500px;
    height: 120px;
}
.about-text{
    font-size: 12px;
}
.yellow-text{
    font-size: 12px;
    font-style: italic;
    padding: 0px 15px;
}
.yellow-heading{
    padding:  8px 15px;
    font-style: italic;
    font-weight: 700;

}
.lead-text{
    font-style: italic;
    font-weight: 500;
    font-size: 12px
}