@import '~src/assets/sass/variables';
@import '~src/assets/sass/mixins';


#change{
    padding: 2.5rem 0; 
    background: #f6f6f6;
   .btn-change{
    padding: 0.25rem .75rem;
    border-radius: 20px;
    vertical-align: middle;
    @include btn_header(#f26633, #fff);
   }

   
   .btn-cancel{
      padding: 0.25rem .75rem;
      border-radius: 20px;
      vertical-align: middle;
      @include btn_header(grey, #fff);
     }
   }
