<div class="modal-header">
  <h4 class="modal-title">Forgot Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pb-4 mt-2">
  <form [formGroup]="resetForm">
    <div class="form-row">
      <div class="form-group col-md-12">
        <input type="text" class="form-control" placeholder="Enter your email" formControlName="resetEmail">
        <small class="text-danger form-text"
          *ngIf="resetForm.controls['resetEmail'].hasError('required') && resetForm.controls['resetEmail'].touched">
          Email is mandatory </small>
        <small class="text-danger form-text"
          *ngIf="resetForm.controls['resetEmail'].hasError('pattern') && resetForm.controls['resetEmail'].touched">
          Please enter a vaild email </small>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <button class="btn btn-save btn-block" [disabled]="resetForm.invalid" (click)="sendEmail()" type="button">
          Reset Password</button>

      </div>
      <div class="form-group col-md-6">
     
        <button class="btn btn-cancel btn-block" (click)="activeModal.dismiss('no')" type="button">
          cancel</button>
      </div>
    </div>


  </form>
</div>