.hd {
    font-size: 14px;
    font-weight: bold;
    color: #f26633;
}

.hd1 {
    font-size: 12px;
    margin-left: 14px;
}

.hd11 {
    font-size: 12px;
    margin-left: 28px;
}

p {
    text-align: justify;
    font-size: 12px;
}

.modal-body {
    max-height: 500px !important;
    overflow: scroll !important;
}