<footer>
  <div id="copyRights">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-auto">
          <p class="mb-0">&#169; 2019 Zeatr. All rights reserved</p>
        </div>
        <div class="col-lg-auto">
            <a class="mb-0 terms" (click)="navigateToAboutUs()">About Us</a> | <a class="terms mb-0" (click)="openContactUs('contact')">Contact Us</a> | <a class="terms mb-0" (click)="openTermsandConditions('Terms')">Terms & Conditions</a> | <a
            class="terms mb-0" (click)="openTermsandConditions('Privacy')">Privacy Policy</a>
        </div>

      </div>
    </div>
  </div>

</footer>