<section id="change">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="mb-4">RESET PASSWORD</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form [formGroup]="pForm">

          <div class="form-row">
            <div class="form-group col-md-12">
              <label>New Password</label>
              <input type="password" class="form-control" placeholder="new password" formControlName="npassword" />
              <small class="text-danger" *ngIf="
                  pForm.controls['npassword'].hasError('required') &&
                  pForm.controls['npassword'].touched
                ">
                new Password is mandatory</small>
              <small class="text-danger" *ngIf="
                pForm.controls['npassword'].hasError('pattern') &&
                pForm.controls['npassword'].touched
                ">
                Password should be atleast 8 characters with a lowercase letter,
                a uppercase letter, a numbers and a special character.
              </small>
            </div>
            <div class="form-group col-md-12">
              <label>Confirm Password</label>
              <input type="password" class="form-control" placeholder="confirm password" formControlName="cpassword" />
              <small class="text-danger" *ngIf="
                  pForm.controls['cpassword'].hasError('required') &&
                  pForm.controls['cpassword'].touched
                ">
                Confirm Password is mandatory</small>
              <small class="text-danger" *ngIf="
                  pForm.controls['cpassword'].hasError('matchPassword') &&
                  pForm.controls['cpassword'].touched
                ">Passwords doesn't match</small>
              <small class="text-danger" *ngIf="
                pForm.controls['cpassword'].hasError('pattern') &&
                pForm.controls['cpassword'].touched
                ">
                Password should be atleast 8 characters with a lowercase letter,
                a uppercase letter, a numbers and a special character.
              </small>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <button class="btn btn-change btn-block" [disabled]="pForm.invalid" (click)="changePassword()">
                Reset Password
              </button>
            </div>
            <div class="form-group col-md-6">
              <button class="btn btn-cancel btn-block" (click)="clear()">
                Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>