@import '~src/assets/sass/variables';
@import '~src/assets/sass/mixins';



   .btn-delete{
    padding: 0.25rem .75rem;
    border-radius: 20px;
    vertical-align: middle;
    @include btn_header(#f26633, #fff);
   }

   .btn-cancel{
    padding: 0.25rem .75rem;
    border-radius: 20px;
    vertical-align: middle;
    @include btn_header(#666, #fff);
   }