<div class="sidebar navbar-nav ">
  <div id="main-wrapper">
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <!-- <ng-scrollbar autoHide="true" autoUpdate="true"> -->
      <!-- Content -->
      <!-- id="formGroup" id="formmodule" -->
      <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">

          <ul id="sidebarnav">

              <li class="sidebar-item" [routerLinkActive]="['active']">
                  <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/customer" aria-expanded="false">
                    <i class="fas fa-users"></i>
                    <span class="hide-menu">Customers</span>
                  </a>
                </li>

            <li class="sidebar-item" [routerLinkActive]="['active']">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/access_privilege"
                aria-expanded="false">
                <i class="fas fa-user-cog"></i>
                <span class="hide-menu">Application Configuration</span>
              </a>
            </li>

            <li class="sidebar-item" [routerLinkActive]="['active']">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/access_privilege"
                aria-expanded="false">
                <i class="fas fa-user-cog"></i>
                <span class="hide-menu">Organiser Roles</span>
              </a>
            </li>

            <li class="sidebar-item" [routerLinkActive]="['active']">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/access_privilege"
                aria-expanded="false">
                <i class="fas fa-user-cog"></i>
                <span class="hide-menu">Templete Management</span>
              </a>
            </li>



            <li class="sidebar-item" [routerLinkActive]="['active']">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/access_privilege"
                aria-expanded="false">
                <i class="fas fa-user-cog"></i>
                <span class="hide-menu">Advertisment Images</span>
              </a>
            </li>

            <li class="sidebar-item" [routerLinkActive]="['active']">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/access_privilege"
                aria-expanded="false">
                <i class="fas fa-user-cog"></i>
                <span class="hide-menu">Abusers List</span>
              </a>
            </li>

            <li class="sidebar-item" [routerLinkActive]="['active']">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/access_privilege"
                aria-expanded="false">
                <i class="fas fa-user-cog"></i>
                <span class="hide-menu">User Management</span>
              </a>
            </li>

            <li class="sidebar-item" [routerLinkActive]="['active']">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/access_privilege"
                aria-expanded="false">
                <i class="fas fa-user-cog"></i>
                <span class="hide-menu">Membership Settings</span>
              </a>
            </li>



            <li class="sidebar-item" [routerLinkActive]="['active']">
              <a class="sidebar-link waves-effect waves-dark sidebar-link" routerLink="/access_privilege"
                aria-expanded="false">
                <i class="fas fa-user-cog"></i>
                <span class="hide-menu">Future Options</span>
              </a>
            </li>
           

          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- </ng-scrollbar> -->
      <!-- End Sidebar scroll-->
    </aside>
  </div>
</div>