<div class="sidenav">
  <a href="#appconfig" >Application Configuration</a>
  <a href="#org" >Organiser Roles</a>
  <a href="#temp">Templete Management</a>
  <a href="#adv" >Advertisment Images</a>
  <a href="#mem" >Membership Settings</a>
  <a href="#abu" >Abusers List</a>
  <a href="#user">User Management</a>
  <a href="#fut">Future Options</a>
</div>
<!-- <div class="container" id="appconfig">
  <div class="card">
    <div class="card-header">Application Configuration</div>
    <div class="card-body">Content</div>
  </div>
</div>
<div class="container" id="org">
  <div class="card">
    <div class="card-header">Organiser Roles</div>
    <div class="card-body">Content</div>
  </div>
</div> -->
<!-- <div class="container" id="tem">
  <div class="card">
    <div class="card-header">Templete Management</div>
    <div class="card-body">Content</div>
  </div>
</div>
<div class="container" id="adv">
  <div class="card">
    <div class="card-header">Advertisment Images</div>
    <div class="card-body">Content</div>
  </div>
</div>
<div class="container" id="mem">
  <div class="card">
    <div class="card-header">Membership Settings</div>
    <div class="card-body">Content</div>
  </div>
</div>
<div class="container" id="abu">
  <div class="card">
    <div class="card-header">Abusers List</div>
    <div class="card-body">Content</div>
  </div>
</div>
<div class="container" id="user">
  <div class="card">
    <div class="card-header">User Management</div>
    <div class="card-body">Content</div>
  </div>
</div>
<div class="container" id="fut">
  <div class="card">
    <div class="card-header">Future Options</div>
    <div class="card-body">Content</div>
  </div>
</div> -->
