$primary: #f26633;
$secondary: #e2e2e2;
$black: #212529;
$grey: #444;

$facebook: #3b5998;
$google: #DB4437;

$navbar-base-height: 40px;
// Change below variable to change the width of the sidenav
$sidebar-base-width: 210px;
// Change below variable to change the width of the sidenav when collapsed
$sidebar-collapsed-width: 65px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 1.5rem;



// Color Variables
$disabled: #b4b4b4 !default;
$bg-body: #f9fafb !default;
$bg-master-button: #fd9d0e !default;
$bg-action-button: #0062b0 !default;
$input-border-color:#ced4da !default;

$input-border: 1px solid rgba(0,0,0,.0625)!important;
// border variables

$border-color: #d5d5d5 !default;

// font color variables

$font-color: #444444 !default;

// Margin and Padding

$margin-bottom: .75rem;

// Bootstrap Color Defaults
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;